/* 头部 */
.header{
    width: 77%;
    height: 40px;
    margin: auto;
    background-color: #3d444c;
    /* display: flex;
    justify-content:center */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header ul li{
      display: inline-block
  }
  .header ul li a{    
    color: #ccc;
    font-size: 16px;
    line-height: 40px;    
    padding: 0 15px;
  }
  .search, .login_register{
      display: inline-block;
  }
  .search{
        margin-right: 30px;
  }

  .login_register{
    height: 40px;
  }
  .login_register .btn{
    padding: 11px 20px 11px 20px;
    color: #fff; 
  }
  .login_register .login{
    background: #ff2d2d;
  }
  /*轮播*/
  .ant-carousel .slick-slide {
    text-align: center;
    height: 300px;
    overflow: hidden;
  }
  .caro img{
      margin: auto;
  }

  /*typetab*/
  .type-tab{
    width:100%;
    height: 180px;
    padding: 30px 0 35px;
    background-color: #fff;
  }
  .tab-content,.foot,.type-tab ul{
    width: 77%;
    margin: auto;
  }
  .type-tab ul li{
    width: 25%;
    display: inline-block;
    text-align: center;
  }
.type-tab ul li h2{
  font-size: 16px;
  font-weight: 700;
  
}

.exercise-tab{
  width:100%;
  padding-top: 25px;
}
.tab-content h1{
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 15px;
  border-bottom: 1px dotted #aaa;
  text-align: center;
}

/*search*/
.que-title{
  color: #000;
  
}
.que-title:hover{
  color: #49a9ee;
  
}
/*footer*/
.foot{
  display: flex;
  justify-content: space-between;
}
.foot-m li{
  color: #ccc;
  font-size: 15px;
  display: inline-block;
}
.foot-m li span{
  margin: 0px 10px 0px 10px;
}
.foot-i li{
  display: inline-block;
  padding: 0px 10px 5px 10px;
}
.foot-i img{
  width: 80px;
  height: 80px;
}
.foot-i p{
  color: #ccc;
}