/* 头部 */
.header{
    width: 77%;
    height: 40px;
    margin: auto;
    background-color: #3d444c;
    /* display: flex;
    justify-content:center */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header ul li{
      display: inline-block
  }
  .header ul li a{
    color: #ccc;
    font-size: 16px;
    line-height: 40px;    
    padding: 0 15px;
  }
  .search, .login_register{
      display: inline-block;
  }
  .search{
        margin-right: 30px;
  }

  .login_register{
    height: 40px;
  }
  .login_register .btn{
    padding: 11px 20px 11px 20px;
    color: #fff; 
  }
  .login_register .login{
    background: #ff2d2d;
  }
  /*轮播*/
  .ant-carousel .slick-slide {
    text-align: center;
    height: 300px;
    overflow: hidden;
  }
  .caro img{
      margin: auto;
  }