@import '~antd/dist/antd.css';

/* .logo {
    height: 48px;
    background: #f7b22e;
    font-size: 24px;
    line-height: 48px;
    padding: 0 10px;
    border-radius: 5px;
    margin: 7px 8px;
}

.main-menu-container {
    flex-wrap: nowrap;
    justify-content: space-between;
}

.main-menu-container .business-menu {
    display: flex;
    align-items: center;
    width: auto !important;
}

.business-menu .ant-menu-horizontal {
    display: flex;
}

.business-menu .more button {
    background: #f6b12e;
    color: #444;
    font-weight: 400;
    height: 30px;
    border-color: #404040;
}

.business-menu .more button i {
    margin: 0;
    min-width: 0;
} */
#root{
    height: 100%;
}

.logo {
    text-align: center;
    height: 48px;
    background: #f7b22e;
    font-size: 24px;
    line-height: 48px;
    padding: 0 10px;
    border-radius: 5px;
    margin: 7px 8px;
}
.profile-bar{
    display: flex;
    justify-content: flex-end;
    z-index: 10 !important;
}
/* .ant-menu,.ant-menu .ant-menu-item{
    font-size: 12px !important;
}
.ant-menu-submenu-active{
    color: white !important;
} */

.ant-card-body{
    padding: 0 24px !important;
}