################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/OnlineTest_server/.vs/OnlineTest_server/v15/sqlite3/db.lock
/OnlineTest_server/.vs/OnlineTest_server/v15/sqlite3/storage.ide-shm
/OnlineTest_server/.vs/OnlineTest_server/v15/sqlite3/storage.ide-wal
/OnlineTest_server/.vs/OnlineTest_server/v15/Server/sqlite3/db.lock
/.vs/OnlineTest/v15/Server/sqlite3/db.lock

/.vs